<!DOCTYPE html>
<html ng-app="clickApp">
<head>
<title>Welcom to IIT site!</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-git1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/css/ngDialog-theme-default.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/css/ngDialog-theme-plain.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/css/ngDialog.css">	
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.5/js/ngDialog.js"></script>
<script type="text/javascript" src="../kafedra/js/auth.js"></script>

<style type="text/css">
  body {
    background-color: #eee;
}



.container {
  width: 400px;
}


</style>
 
</head>
<body ng-controller="clickController">
<div>
<input type="text" ng-model="user.name">
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Main<span class="sr-only">(current)</span></a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Department activities</a></li>
        <li><a href="#">About department</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <ul class="nav navbar-form navbar-right" ng-show="true">
          <!--<form class="navbar-form navbar-left" role="search">-->
                <button type="submit" ng-click="clickToOpen()" class="btn btn-default">Registration</button>
                <button type="submit" class="btn btn-default">Log in</button>
         <!-- </form>-->
      </ul>
      <ul class="nav navbar-form navbar-right" ng-show="false">
          <!--<form class="navbar-form navbar-left" role="search">-->
                <div id="username" class="col-md-6" style="margin-top: 5px">U.N.</div>
                <div class="col-md-6"><button type="submit" class="btn btn-default">Exit</button></div>
         <!-- </form>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
<script type="text/ng-template" id="reg_form">
  <div ng-controller="bindController" class="container" style="width: 400px;">
            <form class="form-horizontal" role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <label for="firstName" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input ng-model="ngDialogData.user.name" type="text" id="firstName" placeholder="Username" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input ng-model="ngDialogData.user.email" type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input ng-model="ngDialogData.user.password" type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div> 
</script>



</html>