.cp-title {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}
.participants-list {
  list-style-type: decimal;
}
.sp-list {
  list-style-type: none;
}
.toggle-btn {
  margin: 5px;
}
.button-group1{
  margin-top: 50px;
}
.button-group2{
  margin-top: 30px;
}
